.wrapper {
  width: 400px;
  margin-bottom: 20px;
  display: inline-block;
  content: "";
  clear: both;
  display: table;
  border: 1px solid grey;
  padding: 20px;
}

.leftContent {
  float: left;
}

.checkbox {
  float: left;
  display: block;
  position: relative;
  top: 4px;
  color: white;
  background-color: rgb(28, 88, 92);
}

.completed {
  text-decoration: line-through;
}

.title {
  min-width: 400px;
  font-size: 20px;
}

.description {
  min-width: 400px;
  color: rgb(77, 72, 72);
  font-size: 14px;
  margin-top: 10px;
  text-align: justify;
}

.edited {
  border: 1px dotted rgb(179, 174, 174);
  /* background-color: rgb(128, 128, 128); */
  color: black;
}

.buttons {
  margin-top: 10px;
  float: right;
}

.edit,
.delete,
.done {
  border-radius: 15%;
  margin-left: 10px;
  border: none;
  color: white;
  height: 30px;
  width: 30px;
  background-color: rgb(39, 60, 61);
}

.done {
  background-color: rgb(34, 73, 22);
  width: 40px;
}
